<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>個人頁面_我的票券</title>
    <link rel="stylesheet" href="../css/user_mainPage.css">
    <link rel="stylesheet" href="../css/mutual.css">
    <link rel="stylesheet" href="../css/user_myTicket.css">
    <link rel="stylesheet" href="../css/Bootstrap/bootstrap.css">
    <script src="../js/jquery.js"></script>
    <script src="../js/Bootstrap/bootstrap.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

        <style>
             a{
                color: black;
             }
        </style>
</head>

<body>
    <!-- 導覽列 開始 -->
    <main>
        <%-include("../nav.ejs")%>
        <div class="banner">
            <p class="banner_title">會員管理</p>
        </div>
        <div class="row ">
            <!-- 左側 開始 -->
            <div class="d-none d-md-block col-md-3 col-sm-12  emp-profile mr-5 p-1">
                <div class="profile-img   p-1 mt-5 ml-5">
                    <form id="avatar" action="/upload/avatarfile">
                        <label class="aa">
                            <input v-on:change="imageHandler" type="file" name="myfile" accept="image/*" id="avatarFile"
                                style="display:none;">
            
                            <div class="profile-pic">
                                <div id="avaimg"><img id="testImg" src="../../image/upload/user/<%=data3[0].userFile%>" alt=""></div>
                                <span>更換圖片</span>
                            </div>
                        </label>
                        <div id="img_sec" class="d-flex flex-wrap">
                            <p></p>
                        </div>
                    </form>
                    <h5 class="text-center text-white mt-3"><%= session.userinfo.name %></h5>
                </div>
                <div class="  p-5 p-md-1 select_left ml-5">
                    <div class="profile-work ">
                        <!-- 前面放icon -->
                        <div class="mb-2 pl-2 pb-1 pt-1"><a href="ticket#myTab" class="user_menu"
                            style="color: var(--color2)">我的票券</a><br /></div>
                        <div class="mb-2 pl-2 pb-1 pt-1"><a href="user/myArticle#myTab"
                            class="user_menu">參戰心得</a><br />
                        </div>
                        <div class="mb-2 pl-2 pb-1 pt-1"><a href="user/favorite#myTab"
                            class="user_menu">收藏追蹤</a><br />
                        </div>
                        <div class="mb-2 pl-2 pb-1 pt-1"><a href="user/profile#profile-tab"
                            class="user_menu">編輯資料</a><br />
                         </div>
                        <div class="mb-2 pl-2 pb-1 pt-1"><a href="/log/logout" class="user_menu">登　　出</a></div>
                    </div>
                </div>
            </div>
            <!-- 左側 結束-->
            <!-- 右側 開始 -->
            <div class="col-md-8 col-sm-12  pl-lg-4 right_box">
                <div class="profile-head">
                    <ul class="nav nav-tabs" id="myTab" role="tablist" style="border-bottom: none;">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                aria-controls="home" aria-selected="true">即將參加</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                aria-controls="profile" aria-selected="false">已結束</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-12 ">
                    <div class="tab-content home-tab" id="myTabContent">
                        <button type="button" class="btn btn-warning d-none" id="finishBtn">完成</button>
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <% if(data[0]){ %>
                            <% data.forEach(function(item,idx){ %>
                                <div>
                                    <p class="m-3">訂單編號:<span class="text-danger">
                                            <%=item.orderId %>
                                        </span>
                                    </p>
                                    <div class="ticket_div">
                                        <div class="d-flex justify-content-between">
                                            <div>
                                                <%var d=item.activityDate %>
                                                    <p>
                                                        <%=item.activityDate.toLocaleDateString()%>
                                                            <%=d.getHours()%>:
                                                                <%=d.getMinutes().toString().padStart(2,"0")%>
                                                                    <%=item.type %>*<%=item.quantity %><%= item.type=="單人票"? "張":"組" %>
                                                    </p>
                                                    <p><span>活動:</span>
                                                        <%=item.activityTitle %>
                                                    </p>
                                                    <p><span>地點:</span>
                                                        <%=item.activityLocation %>
                                                    </p>
                                                    <p> <span>地址:</span>
                                                        <%=item.city %>
                                                            <%=item.town %>
                                                                <%=item.activityAddress %>
                                                    </p>
                                            </div>
                                            <img src="../../image/ticket/QRCODE.png" alt="">
                                        </div>
                                        <p class="text-right my-1 ">
                                            <i class="fas fa-angle-down" style="color: var(--color2);"></i>
                                            <b class="od_text">訂單明細</b>
                                        </p>
                                        <div class="order_details">
                                            <ul>
                                                <% var d=item.orderDate; var weekDay=["日", "一" , "二" , "三" , "四"
                                                    , "五" , "六" ]; %>
                                                    <li>訂購時間:<%=item.orderDate.toLocaleDateString() %> (<%=
                                                                weekDay[d.getDay()] %>)
                                                                <%=d.getHours().toString().padStart(2,"0") %>:
                                                                    <%=d.getMinutes().toString().padStart(2,"0") %>
                                                    </li>
                                                    <li>信用卡號:<%=item.card1 %> - <%=item.card2.replace( /\d{4}/
                                                                ,"****") %> - <%=item.card3.replace( /\d{4}/
                                                                    ,"****") %> -
                                                                    <%=item.card4 %>
                                                    </li>
                                                    <li>取票方式:<%=item.method %>
                                                    </li>
                                                    <li>票價金額:
                                                        <span class="text-danger">
                                                            NT$<%=item.unitPrice%>x<%=item.quantity%>=NT$<%=item.tot%>
                                                        </span>
                                                    </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            <%}) %>
                        </div>
                        <% }else{ %>
                            
                                <div class="box">
                                    <p class="text-center">
                                        您目前沒有即將參加的活動唷! <br>
                                        回到活動列表去看看<br><br><br>
                                    </p>
                                    <a href="/activity">
                                        <div class="text-center">
                                            <button class="btn_tea1 ml-4">活動列表</button>
                                        </div>
                                    </a>
                                </div>
                            
                        <% } %>
                        <!-- 已結束的活動 -->
                        <div class="tab-pane fade " id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <% if(data2[0]){ %>
                            
                            <% data2.forEach(function(item,idx){ %>
                            <p class="m-3">訂單編號:<span class="text-danger">
                                    <%=item.orderId %>
                                </span>
                            </p>
                            <div class="ticket_div ticket_div_end">
                                <div class="end_div">
                                    <div>
                                        <%var d=item.activityDate %>
                                            <p>
                                                <%=item.activityDate.toLocaleDateString()%>
                                                    <%=d.getHours()%>:
                                                        <%=d.getMinutes().toString().padStart(2,"0")%>
                                                            <%=item.type %>*<%=item.quantity %><%= item.type=="單人票"? "張":"組" %>
                                            </p>
                                            <p><span>活動:</span>
                                                <%=item.activityTitle %>
                                            </p>
                                            <p><span>地點:</span>
                                                <%=item.activityLocation %>
                                            </p>
                                            <p> <span>地址:</span>
                                                <%=item.city %>
                                                    <%=item.town %>
                                                        <%=item.activityAddress %>
                                            </p>
                                    </div>
                                    <div>
                                        <p class="end_tag">活動結束</p>
                                        <img src="../../image/ticket/QRCODE.png" alt="">
                                    </div>
                                </div>
                                <p class="text-right my-1 ">
                                    <i class="fas fa-angle-down" style="color: var(--color2);"></i><b class="od_text">訂單明細</b>
                                </p>
                                <div class="order_details">
                                    <ul>
                                        <% var d=item.orderDate; var weekDay=["日", "一" , "二" , "三" , "四"
                                            , "五" , "六" ]; %>
                                            <li>訂購時間:<%=item.orderDate.toLocaleDateString() %> (<%=
                                                        weekDay[d.getDay()] %>)
                                                        <%=d.getHours().toString().padStart(2,"0") %>:
                                                            <%=d.getMinutes().toString().padStart(2,"0") %>
                                            </li>
                                            <li>信用卡號:<%=item.card1 %> - <%=item.card2.replace( /\d{4}/
                                                        ,"****") %> - <%=item.card3.replace( /\d{4}/
                                                            ,"****") %> -
                                                            <%=item.card4 %>
                                            </li>
                                            <li>取票方式:<%=item.method %>
                                            </li>
                                            <li>票價金額:
                                                <span class="text-danger">
                                                    NT$<%=item.unitPrice%>x<%=item.quantity%>=NT$<%=item.tot%>
                                                </span>
                                            </li>
                                    </ul>
                                </div>
                            </div>
                            <% }) %>
                            <% }else{ %>
                                <!-- 如果沒有已結束的活動 -->
                                <div class="tab-pane fade " id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                    <div class="box">
                                        <p class="text-center">
                                            您目前沒有已結束的活動! <br>
                                            回到活動列表去看看<br><br><br>
                                        </p>
                                        <a href="/activity">
                                            <div class="text-center">
                                                <button class="btn_tea1">活動列表</button>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            <% } %>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

<!-- 頁尾-->
    <%-include("../footer.ejs")%>

    <script>
        $(function () {
            //點擊訂單明細
            $(".od_text").each(function(idx,elm){
                $(elm).click(function () {
                    $(".order_details").eq(idx).toggle("slow", "swing");
                    $(".fa-angle-down").eq(idx).toggleClass("rotate");
                });
            })
        })
               //大頭貼上傳 
    var vueMain = new Vue({
        el: "#avatar",
        data: {
            image: ""
        },
        methods: {

            imageHandler: function () {
                var file = $('#avatarFile')[0].files[0];
                var reader = new FileReader;
                reader.onload = function (e) {
                    $("#testImg").removeAttr('src', "");
                    $("#testImg").attr('src', e.target.result);
                };
                reader.readAsDataURL(file);
                // alert(file)

                 //上傳圖片的input
                 var file = document.getElementById("avatarFile")
                //因為準備用post提交，又因為圖片的內容比較大，所以使用formdata來承載資料
                //建立formdata物件
                var formData = new FormData();
                //給formdata物件中放入資料(鍵值對的方式)
                formData.append('file', file.files[0]);

                var Today = new Date();
                var date = Today.getFullYear().toString() + (Today.getMonth() + 1).toString().padStart(2, "0") + Today.getDate().toString().padStart(2, "0");
                this.image = date + '-' + formData.get('file').name

                var newAvatar = {
                    image: this.image
                }

                // 因為圖片文字格式不同  所以使用兩次ajax
                // 副檔名
                $.ajax({
                    url: '/uploadafile',//請求路徑
                    type: 'POST',
                    data: formData,
                    contentType: false,//為了讓瀏覽器根據傳入的formdata來判斷contentType
                    processData: false,//同上
                    success: function (data) {
                        // alert(data)
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
                // 日期+原檔名
                $.ajax({
                    type: "post",
                    url: "/user/avatarUpload",
                    data: newAvatar
                }).then(function () {
                    swal("上傳成功", "", "success");
                    location.href = "/user";
                })
                // 圖片
                $.ajax({
                    url: '/user/upload/avatarfile',//請求路徑
                    type: 'POST',
                    data: formData,
                    contentType: false,//為了讓瀏覽器根據傳入的formdata來判斷contentType
                    processData: false,//同上
                    success: function (data) {
                        alert(data)
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            },

        }
    })
    </script>


</body>

</html>