<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <th>#</th>
            <th>名稱</th>
            <th>電話</th>
            <th>地址</th>
            <th>成人口罩庫存</th>
            <th>孩童口罩庫存</th>
        </thead>
        <tbody>
        <% data.forEach(function(item,idx){ %>
            <tr>
                <td><%= item.articleTitle  %></td>
                <td><%= item.phone %></td>
                <td><%= item.address %></td>
                <td><%= item.adult_mask %></td>
                <td><%= item.child_mask %></td>
                <%  }) %>
            </tr>
        </tbody>
    </table>
        <% for (i=1;i<=lastPage;i++){  %>
            <a href="/article/<%= i %>"><%= i %></a>
            <% } %>
        <p>最後一頁:<%= lastPage %>筆</p>
    
</body>
</html>