<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../css/activity_all.css">
    <!-- <link rel="stylesheet" href="../css/Bootstrap/bootstrap.css"> -->
    <!-- <script src="../js/Bootstrap/bootstrap.js"></script> -->
    <script src="../js/jquery.js"></script>

</head>

<body class="campaignContent_body">
    <!-- 左側的div--start -->
    <div class="left_div">
        <h5 class="sub_title">活動資訊</h1>
            <div class="table_con">
                <p>日期</p>
                <p>2021/5/1 (六)</p>

                <p>時間</p>
                <p>19:30</p>

                <p>開場</p>
                <p>20:00</p>

                <p>地點</p>
                <p>後台BackStage Cafe'</p>

                <p>地址</p>
                <p>台北市大安區羅斯福路4段1號台大綜合體育館2樓206室及214室</p>
            </div>
            <h5 class="sub_title">活動票券</h1>
                <div class="table_con">
                    <p>單人票</p>
                    <p>TWD$600</p>

                    <p>雙人票</p>
                    <p>TWD$550</p>

                    <p>四人票</p>
                    <p>TWD$500</p>

                </div>

    </div>
    <!-- 左側的div--end -->


    <!-- 活動圖片--start -->
    <div class="content_img_div">
        <div class="back_icon"><a href="/activity">####</a></div>
        <div class="img_icon_top">
            <div>a</div>
            <div>b</div>
            <div>c</div>
            <div>d</div>

        </div>
        <!-- <div class="img_title_con"> -->
        <!-- <h3>【10/4 夜晚場】 SERRINI “I’M FINE, THX.” LIVE 2021</h3> -->
        <!-- </div> -->

        <div class="img_icon_btn">

            <div class="btn_con">
                <div class="left"></div>
                <div class="right"></div>
            </div>
        </div>

    </div>
    <!-- 活動圖片--end -->

    <!-- 活動內容--start -->
    <div class="content_text_div">

        <p><%= data[0].activityContent %> 
        </p>
        
        <hr>
        
        <h5 class="sub_title">節 目 資 訊</h5>
        <p>
            活動日期： 2021/5/1 (六)

            入場時間： 19:30

            開始時間： 20:00

            活動地點： <%= data[0].activityLocation %> 

            活動地址： <%= data[0].city + data[0].town + data[0].activityAddress %> 
            
            啟售時間： <%= data[0].sellDate %> （限量 <%= data[0].ticketAmount %>  張）
            
            購票方式： MUMU及全台全家便利商店
            
            票　　價： <% data.forEach((item,idx)=>{%><%=item.type + " "+ item.unitPrice +" |" %> <%}) %>
            
            主辦單位： MUMU、 <%= data[0].companyName %> 
        </p>
        <form method="POST" action="">
            <select name="activityPriceId" id="activityPriceId">
                <% data.forEach((item,index)=>{  %>
                <option value=<%= item.categoryId %>><%= item.type %></option>
                <% })  %>
            </select>
            <input type="hidden"name="activityId" value=<%= id %>>
            <input type="submit" class="btn_tea2" width="100%" value="我要購票">
        </form>
        <hr><iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14457.850254165025!2d121.5986163!3d25.0523066!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7df0dd098383b7f0!2z6Ie65YyX5rWB6KGM6Z-z5qiC5Lit5b-D!5e0!3m2!1szh-TW!2stw!4v1616845743833!5m2!1szh-TW!2stw"
            width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy">
        </iframe>
    </div>
    <!-- 活動內容--end -->

    <script>
        $(function () {
            $('.img_icon_top>div:nth-of-type(1)').click(function () {
                $('.img_icon_top').toggleClass('btn_show');
            })

        });

        // 連接後端資料庫

        
    </script>

</body>

</html>

