<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>活動資訊</title>

    <link rel="stylesheet" href="../../css/activity_all.css">
    <!-- <link rel="stylesheet" href="../../css/Bootstrap/bootstrap.css"> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <script src="../../js/jquery.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <style>
        input[type=number]{
            border:2px solid var(--color4);
            border-radius: 0.3rem;
            padding: 6px;
            appearance:none;
            -moz-appearance:none;
            margin:3px;
            width: 180px;
        }
        select.form_input{
            width:180px ;
            margin: 0px;
        }
     
        .form_input{
            margin: 0;
            padding: 0;
        }
        #getback{
            cursor:pointer;
        }
    </style>

</head>

<body class="campaignContent_body">
    <%-include("../nav.ejs")%>
    <% Date.prototype.Format = function (fmt) {
        var o = {
            "M+": this.getMonth() + 1, //月份 
            "d+": this.getDate(), //日 
            "h+": this.getHours(), //小时 
            "m+": this.getMinutes(), //分 
            "s+": this.getSeconds(), //秒 
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度 
            "S": this.getMilliseconds() //毫秒 
        };
        if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }%>
    <% var monthDay = ["一", "二", "三", "四", "五", "六", "日"] %> 
    <!-- 左側的div--start -->
    <div class="left_div">
        <p id="getback"><i  class="fas fa-chevron-right" style="transform: rotate(180deg);"></i>&nbsp;<span>上一頁</span></p>
        <br>
        <b>活動資訊</b>
            <div class="table_con"> <% var activity_day=JSON.parse(JSON.stringify(activity_day)) %> 
                <% activity_day.forEach((a)=>{ %>                
                <p class="little_date">日期</p>
                <p><%= (new Date(a.activityDate)).Format("yyyy/MM/dd (")+monthDay[a.acd]+(new Date(a.activityDate)).Format(") hh:mm") %></p>
                <%})%>
                <p>預售</p><% var s=JSON.parse(JSON.stringify(data[0])) %>
                <p> <%= (new Date(s.sellDate)).Format("yyyy/MM/dd (")+monthDay[s.sell]+(new Date(s.sellDate)).Format(") hh:mm") %></p>
                
                <p>地點</p>
                <p><%= data[0].activityLocation %> </p>

                <p>地址</p>
                <p><%= data[0].city+data[0].town+data[0].activityAddress %> </p>
            </div>
            <b>活動票券</b>
                <div class="table_con">
                    <% data.forEach((item,idx)=>{%>
                        <p><%=item.type %> </p>
                        <p><%= "NT $"+item.unitPrice %></p>
                    <%}) %>
                </div>

    </div>
    <!-- 左側的div--end -->


    <!-- 活動圖片--start -->
    <div class="content_img_div" style= "background-image: url(../../image/upload/activity/<%-data[0].activityFile%>)">
        <div class="back_icon"><a href="/activity">####</a></div>
    </div>
    <!-- 活動圖片--end -->
    <input type="hidden" name="favorates" value=<% favorates.forEach((fav,idx)=>{%><%= (fav.activityId==activityId)?activityId :"" %><% }) %>>
    <input type="hidden" name="activityId" value=<%= activityId %>>
  
    <!-- 活動內容--start -->
    <div class="content_text_div">
        
        <h5 class="title" style="display: inline-block;"><%= data[0].activityTitle %> </h1><!-- 登入 --><%if(session.userinfo){ %><button name="unlove" class="btn_tea1" style="padding: 5px 10px; margin-left: 10px;">收藏</button>
        <!-- 未登入 --><% }else { %><% } %>


        <p><%= data[0].activityContent %> 
        </p>
        
        <hr>
        
        <h5 class="sub_title">節 目 資 訊</h5>
        <p><% var activity_day=JSON.parse(JSON.stringify(activity_day)) %>
            <table style=" display: inline-block;"><% activity_day.forEach((a)=>{ %>
                <tr>
                    <td class="big_title">活動日期：</td>
                    <td class="little_title">活動日期：</td>
                    <td><%= (new Date(a.activityDate)).Format("yyyy/MM/dd (")+monthDay[a.acd]+(new Date(a.activityDate)).Format(") hh:mm") %></td>
                </tr>
                <% }) %> 
            </table>

            活動地點： <%= data[0].activityLocation %> 

            活動地址： <%= data[0].city + data[0].town + data[0].activityAddress %> 
            
            演出樂團： <% band.forEach((b)=>{ %> <%= b.bandName %>、 <% }) %>
            <% var s=JSON.parse(JSON.stringify(data[0])) %>
            啟售時間： <%= (new Date(s.sellDate)).Format("yyyy/MM/dd (")+monthDay[s.sell]+(new Date(s.sellDate)).Format(") hh:mm") %>

            購票方式： MUMU及全台全家便利商店
            <table style=" display: inline-block;"><% activity_day.forEach((a)=>{ %>
                <tr>
                    <td class="big_title">票數：</td>
                    <td><%= (new Date(a.activityDate)).Format("yyyy/MM/dd (")+monthDay[a.acd]+")" %>  <%= a.amount %>張（剩餘 <span class="emphasize"> <%= JSON.stringify(a.rest)=="null"? a.amount:a.rest %></span>  張） </td>
                </tr>
                <% }) %> 
            </table>
             
            票　　價： <% data.forEach((item,idx)=>{%><%=item.type  %>&nbsp;&nbsp;<span class="emphasize">NT$<%= item.unitPrice +" |" %> </span><%}) %>
            
            主辦單位： MUMU、 <%= data[0].companyName %> 
        </p>

        <form method="POST" action="/cart">
            <p>選擇場次:</p>
                <select name="activityDetailId" id="activityDetailId" class="form_input"><% var activity_day=JSON.parse(JSON.stringify(activity_day)) %>
                    <% activity_day.forEach((a)=>{  %>
                    <option value="<%-a.activityDetailId%>"> <%= a.activityDate.substring(0,4)+"/"+a.activityDate.substring(5,7)+"/"+a.activityDate.substring(8,10)%></option>
                    <% })  %>
                </select>
          
            <% data.forEach((item,index)=>{  %>
            <p><%= item.type %>:</p><input name="quantity<%=item.categoryId%>"value="0" type="number" class=""min="0">
            <input type="hidden" name="categoryId<%=item.categoryId%>" value="<%=item.categoryId%>" >
            <% })  %>
            <input type="hidden"name="activityId" value=<%= id %>>
            <a href="/cart">
                <input type="submit" class="btn_tea2 ticket_btn" id="ticket_btn" width="100%" value="確定購票">
            </a>
           

            <input type="hidden" value="<%= data[0].activityId %>" >
        </form>
        <hr>
        <!-- <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14457.850254165025!2d121.5986163!3d25.0523066!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7df0dd098383b7f0!2z6Ie65YyX5rWB6KGM6Z-z5qiC5Lit5b-D!5e0!3m2!1szh-TW!2stw!4v1616845743833!5m2!1szh-TW!2stw"
        width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy">
    </iframe> -->
</div>

    <!-- 活動內容--end -->
    <%-include("../footer.ejs")%>

    <script>
        // 快捷搜尋
        window.addEventListener('keydown', function(e) {
                if (e.keyCode == 49) {
                    document.getElementById('search').value = '明年一定要去'
                }
            }, false);
        $(function () {

            $('#getback').on('click',function(){
                // 回到上一頁的方法，有下面兩種：
                // 1.  history.go 方法
                window.history.go(-1); 
                // 2. history.back 方法
                // window.history.back();
            })
           
            
            $('.big_title').eq(1).text("");
            $('.big_title').eq(3).text("");

            $('.little_title').each(function(idx,item){
                    $(item).text(`第${idx+1}日－`);    
            });
            $('.little_date').each(function(idx,item){
                    $(item).text(`Day${idx+1}`);    
            });

        
            $('.img_icon_top>div:nth-of-type(1)').click(function () {
                $('.img_icon_top').toggleClass('btn_show');
            })

            // 設置收藏按鈕的html樣式
            var favorates = $('input[name="favorates"]').val();
            var activityId = $('input[name="activityId"]').val();

            if(favorates!==''){
                // console.log("ok");
                $('button[name="unlove"]').text('已收藏');
                $('button[name="unlove"]').addClass('btn_tea2').removeClass('btn_tea1');
                $('button[name="unlove"]').attr('name','love');       
            }else{
                // console.log("no");
                $('button[name="love"]').text('收藏');
                $('button[name="love"]').addClass('btn_tea1').removeClass('btn_tea2');
                $('button[name="love"]').attr('name','unlove');
            }
            $('button[name="love"]').on('click',()=>{
                var movelove = {};
                movelove["activityId"] = favorates;
                movelove = JSON.stringify(movelove);
                
                $.ajax({
                    url: "/activity/movelove",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    data: movelove,
                    success: function (res) {
                        var res = JSON.parse(res)
                        if (res.errno === 1) {
                            swal("已取消收藏!", "", "success")
                            .then((value)=>{
                                location.reload()
                            });
                        } else if (res.errno === 0) {
                            swal("更新失敗", "", "error");
                        }
                    },
                    error: function () {
                        alert("系統錯誤!")
                    }
                })
            })
            $('button[name="unlove"]').on('click',()=>{
                var addlove = {};
                addlove["activityId"] = activityId;
                addlove = JSON.stringify(addlove);
                $.ajax({
                    url: "/activity/addlove",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    data: addlove,
                    success: function (res) {
                        var res = JSON.parse(res)
                        if (res.errno === 1) {
                            swal("已加入收藏!", "", "success")
                            .then((value)=>{
                                location.reload()
                            });
                        } else if (res.errno === 0) {
                            swal("更新失敗!", "", "error")
                        }
                    },
                    error: function () {
                        alert("系統錯誤!")
                    }
                })
            })

        });
    </script>
</body>
</html>
