<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>活動列表</title>
    <link rel="stylesheet" href="../plugin/zInput/zInput_default_stylesheet.css">
    <link rel="stylesheet" href="../css/Bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../css/activity_all.css">
    <script src="../js/jquery.js"></script>
    <script src="../plugin/zInput/zInput.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    
    <style>
        p{
            margin-bottom: 0;
        }
    </style>
</head>

<body class="campaign_body">
    <%-include("../nav.ejs")%>
    <% Date.prototype.Format = function (fmt) {
        var o = {
            "M+": this.getMonth() + 1, //月份 
            "d+": this.getDate(), //日 
            "h+": this.getHours(), //小时 
            "m+": this.getMinutes(), //分 
            "s+": this.getSeconds(), //秒 
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度 
            "S": this.getMilliseconds() //毫秒 
        };
        if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }%>
    <% var monthDay = ["一", "二", "三", "四", "五", "六", "日"] %>
    <input type="hidden" name="checkId" value=<%=districtId%> > 
    <input type="hidden" name="name" id="name" value=<%= search %>>
    <!-- 左側的篩選列--start -->
   <main>
        <div class="tag_div">
            
            <form id="form" method="POST" action="" >
                
                <div class="search_div" id="app">
                    <input v-model="search" type="text" name="search" class="form_input" style="background-color: var(--color4);" placeholder="搜尋相關活動">
                    <button type="submit" id="submitBtn" style="display: none;"><i class="fas fa-search btn_search"></i></button>                   
                    <!-- <input type="submit" id="submitBtn"> -->
                </div>
                
                
                <label for=""></label>
                <div id="affected">
                    <input type="radio" name="set 2" title="全部" value="1">
                    <input type="radio" name="set 2" title="北部" value="2">
                    <input type="radio" name="set 2" title="中部" value="3">
                    <input type="radio" name="set 2" title="南部" value="4">
                    <!-- <input type="radio" name="set 2" title="all" value="1"> -->
                </div>
    
            </form>
        </div>
        <div class="tag_div_icon">》</div>
        <!-- 左側的篩選列--end -->
    
        <!-- 包所有活動的div--start -->
        <div class="campaign_all">
            <div class="campaign_top">
                <!-- <span class="sub_title">検索結果</span> -->
                <span>1〜<%=nums_per_page%>項 (總共 <%= total_nums  %> 項)</span>
            </div>        
    
            <%var data=JSON.parse(JSON.stringify(data))%>
            <% data.forEach((item)=> { %>
                <a href="/activity/single/<%= item.activityId %>" style="display: block;" >
                    <div class="campaign_item" id=<%= item.activityId %>>
                        <div class="campaign_img">
                                <img src="../../image/upload/activity/<%= item.activityFile %>" alt="">
                        </div>
                        <div class="campaign_title">
                            <b style="color: var(--color3);"><%=item.companyName%></b>
                            <p class="sub_title" style="margin-top:.6rem; margin-bottom:.7rem">
                                <%= item.activityTitle %>
                            </p>
                            <p>
                                活動時間：　<%= (new Date(item.minDate)).Format("yyyy/MM/dd (")+monthDay[item.min]+")~"+(new Date(item.maxDate)).Format("yyyy/MM/dd (")+monthDay[item.max]+")" %>
                            </p>
                            <p>
                                售票時間：　<%= (new Date(item.sellDate)).Format("yyyy/MM/dd (")+monthDay[item.sell]+")" %>
                            </p>
                            <p>
                                地　　點：　<%= item.activityLocation %>
                            </p>
                        </div>
                        <div class="campaign_btn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            stroke="var(--color2)" class="bi bi-chevron-compact-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z" />
                            </svg>
                        </div>
                    </div>
                </a>
            <% }) %>
            
            <div class="campaign_top">
                <% for(var i = 1; i <= last_page; i++) { %>
                    <a href="/activity/<%=(search!=='undefind'&&districtId!=='undefind')?`search?text=${search}&districtId=${districtId}&page=${i}`:`${i}`%>"><button class="btn_page" style="line-height: 1;<%-(i==curr_page)?'background-color:var(--color2);color:var(--color5)':''%>"><%= i%></button></a>
                <% } %>
            </div>
   
        </div>
   </main>
    <!-- 包所有活動的div--end -->
    <%-include("../footer.ejs")%>

    <script>
       
        var searchName= document.getElementById('name').value;
        searchName=(searchName!=="undefind") ?searchName :"";

        var app = new Vue({
        el: '#app',
        data: {
            search: searchName,
            value: '',
            oldValue: ''
            // description: "line1\nline2"
        },
        watch: {
            search: function(val, oldVal) {
            this.value = val;
            }
        }
        // computed: {
        //   htmlLineBreak() {
        //     return this.description.replace(/\r\n|\r|\n/g,"<br />");
        //   }
        // }
        });


        
        $(function () {
            var checkId =$('input[name="checkId"]').val();

            if(checkId!=="undefind"){
                $(`input[value=${checkId}]`).closest('.zInput').addClass('zSelected');              
            }else{
                $('input[value="1"]').closest('.zInput').addClass('zSelected');
            }

            $('input[name="search"]').on('change',function(){
                var s =( $('input[name="search"]').val());

                $('input[name="set 2"]').each(( index,e )=> {
                    var v= $(e).prop("value");
                    $('input[name="search"]').val();

                    var ahref ="window.location='"
                    ahref +=`/activity/search?text=${s}&districtId=${v}&page=1'`
                    // console.log(ahref);
                    $(e).closest('.zInput').attr("onclick", ahref)
                });
            }).change();


            //左側導覽列動畫
            $('.tag_div_icon').click(function () {
                // console.log("aaaa");
                $(this).addClass('animation');
                $('.tag_div').addClass('animation');
            })

            $('.campaign_all').click(function () {
                // console.log("sss");
                if ($('.tag_div_icon').css('width') == '0px') {
                    $('.tag_div').removeClass('animation');
                    $('.tag_div_icon').removeClass('animation');
                }
            })
            
            $("#id_of_textbox").keyup(function(event) {
                if (event.keyCode === 13) {
                    $("#submitBtn").click;
                }
            });

            $('#submitBtn').on('click',function () {
                //整理表單資料到變數
                var data = $('#form').serializeArray()
                JSONData = serializeToJSON(data)
                // alert(JSONData);
                var districtId = $('.zSelected').find('input[name="set 2"]').prop('value');
                // alert(districtId);
                location.href=`/activity/search?text=${data[0].value}&districtId=${districtId}&page=1`;
                return false;

            });

            function serializeToJSON(data) {
                var values = {};
                for (index in data) {
                    values[data[index].name] = data[index].value;
                }
                // console.log(values);
                // typeof_values = object
                return JSON.stringify(values)
            }
        })

        $('#affected').zInput();//外掛的zInput

    </script>
</body>

</html>