<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>活動專區</title>
    <link rel="stylesheet" href="../plugin/zInput/zInput_default_stylesheet.css">
    <link rel="stylesheet" href="../css/Bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../css/activity_all.css">
    <script src="../js/jquery.js"></script>
    <script src="../plugin/zInput/zInput.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <style>
        .campaign_item:hover{
            background-color: #f8f3ec;
            /* background-color: blue; */
        }
        .campaign_top:nth-last-of-type(1){
            padding: 10px 0;
            height: 80px;
            text-align: center;
            box-sizing: border-box;
        }
        .campaign_top>.btn_tea_radius{
            padding:10px 15px;
            border-radius:200%; 
            border: 1px solid var(--color2);
            background-color: var(--color5);
            margin: 3px;
        }
        .campaign_top>.btn_tea_radius:hover{
            background-color: var(--color2);
        }
        .campaign_top>.btn_tea_radius:hover a{
            color:  var(--color5);
        }
        .campaign_top>.btn_tea_radius>a{
            color:  var(--color2);
        }
        .mynavbar{
            background:var(--color5);
        }
        .mynavbar>.right{
            border: 0;
        }
        p{
            margin-bottom: 0;
        }
        .campaign_title>p:nth-of-type(2),
        .campaign_title>p:nth-of-type(3),
        .campaign_title>p:nth-of-type(4){
            line-height: 1.2;
            letter-spacing:1px;
            color: var(--color3);
            /* background-color: brown; */
        }
        .campaign_top>a>button {
            margin-top: auto;
            margin-bottom: auto;
        }
    </style>
</head>

<body class="campaign_body">
    <%-include("../nav.ejs")%>
    <!-- 左側的篩選列--start -->
   <main>
        <div class="tag_div">
            <form id="form" method="POST" action="">
                <div class="search_div">
                    <input type="text" name="search" class="form_input" style="background-color: var(--color4);" placeholder="Search">
                    <button type="submit" id="submitBtn"><i class="fas fa-search btn_search"></i></button>
    
                    
                    <!-- <input type="submit" id="submitBtn"> -->
                </div>
                
                
                <label for=""></label>
                <div id="affected">
                    <input type="radio" name="set 2" title="全部" value="1">
                    <input type="radio" name="set 2" title="北部" value="2">
                    <input type="radio" name="set 2" title="中部" value="3">
                    <input type="radio" name="set 2" title="南部" value="4">
                </div>
    
            </form>
        </div>
        <div class="tag_div_icon">》</div>
        <!-- 左側的篩選列--end -->
    
        <!-- 包所有活動的div--start -->
        <div class="campaign_all">
            <div class="campaign_top">
                <!-- <span class="sub_title">検索結果</span> -->
                <span>1〜<%=nums_per_page%>件 (總共 <%= total_nums  %> 件)</span>
            </div>        
    
            <%var data=JSON.parse(JSON.stringify(data))%>
            <% data.forEach((item)=> { %>
                <a href="/activity/single/<%= item.activityId %>" style="display: block;" >
                    <div class="campaign_item" id=<%= item.activityId %>>
                        <div class="campaign_img">
                                <img src="../../image/upload/activity/<%= item.activityFile %>" alt="">
                        </div>
                        <div class="campaign_title">
                            <b style="color: var(--color3);"><%=item.companyName%></b>
                            <p class="sub_title" style="margin-top:.6rem; margin-bottom:.7rem">
                                <%= item.activityTitle %>
                            </p>
                            <p>
                                活動時間：　<%= item.sellDate.substring(0,4)+'年'+item.sellDate.substring(5,7)+'月'+item.sellDate.substring(8,10)+'日' %>
                            </p>
                            <p>
                                售票時間：　<%= item.sellDate.substring(0,4)+'年'+item.sellDate.substring(5,7)+'月'+item.sellDate.substring(8,10)+'日' %>
                            </p>
                            <p>
                                地　　點：　<%= item.activityLocation %>
                            </p>
                        </div>
                        <div class="campaign_btn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            stroke="var(--color2)" class="bi bi-chevron-compact-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z" />
                            </svg>
                        </div>
                    </div>
                </a>
            <% }) %>
            <div class="campaign_top">
                <% for(var i = 1; i <= last_page; i++) { %>
                    <a href="/activity/<%= i%>"><button class="btn_page" style="line-height: 1;"><%= i%></button></a>
                <% } %>
            </div>
    
    
    
            
    
    
        </div>
   </main>
    <!-- 包所有活動的div--end -->
    <%-include("../footer.ejs")%>

    <script>
        $(function () {
            // var x = $('input[value="1"]').closest('.zInput')[0];
            // console.log(x);
            $('input[value="1"]').closest('.zInput').addClass('zSelected');
            
            
            
            //左側導覽列動畫
            $('.tag_div_icon').click(function () {
                // console.log("aaaa");
                $(this).addClass('animation');
                $('.tag_div').addClass('animation');
            })

            $('.campaign_all').click(function () {
                // console.log("sss");
                if ($('.tag_div_icon').css('width') == '0px') {
                    $('.tag_div').removeClass('animation');
                    $('.tag_div_icon').removeClass('animation');
                }
            })
            


            $('#submitBtn').click(function () {
                //整理表單資料到變數
                var data = $('#form').serializeArray()
                JSONData = serializeToJSON(data)
                // alert(JSONData);
                var districtId = $('.zSelected').find('input[name="set 2"]').prop('value');
                // alert(districtId);

                $.ajax({
                    url: "/activity/search",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    data: JSONData,
                    success: function (res) {
                        var res = JSON.parse(res)
                        if (res.errno === 1) {
                            // alert("更新成功!")
                            // location.reload()
                            location.href = `/activity/search?text=${data[0].value}&districtId=${districtId}`
                        } else if (res.errno === 0) {
                            alert("更新失敗!")
                        }
                    },
                    error: function () {
                        alert("系統錯誤!")
                    }
                })

            });

            function serializeToJSON(data) {
                var values = {};
                for (index in data) {
                    values[data[index].name] = data[index].value;
                }
                // console.log(values);
                // typeof_values = object
                return JSON.stringify(values)
            }
        })


        $('#affected').zInput();//外掛的zInput



    </script>
</body>

</html>
