<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>個人頁面_我的投稿</title>
    <link rel="stylesheet" href="../css/user_mainPage.css">
    <link rel="stylesheet" href="../css/Bootstrap/bootstrap.css">
    <script src="../js/jquery.js"></script>
    <script src="../js/Bootstrap/bootstrap.js"></script>
    <script src="https://kit.fontawesome.com/2b7cfea5bd.js" crossorigin="anonymous"></script>

    <style>
        .article_card {
            border: 2px solid lightgray;
            border-radius: 0.5rem;
        }

        .article_img {
            width: 100%;
            height: 130px;
            object-fit: cover;
            object-position: 50% 30%;
        }

        .article_content {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
        }
    </style>
</head>

<body>
    <!-- 導覽列 開始 -->

    <!-- 導覽列 結束 -->
    <div class="container ">
        <form method="">
            <div class="row justify-content-center ">
                <!-- 左側 開始 手機裝置會消失 導覽列上可點選-->
                <div class="d-none d-md-block col-md-3 emp-profile mr-5">
                    <div class="profile-img  m-2 p-1">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog"
                            alt="" />
                        <br>
                        <br>
                        <div class="file btn btn-sm btn-primary ">
                            更改大頭貼
                            <input type="file" name="file" />
                        </div>
                        <h5 class="text-center">林郁媛</h5>
                    </div>

                    <div class="col-md-12">
                        <div class="profile-work ">
                            <!-- 前面放icon -->
                            <div class="mb-2 pl-2 pb-1 pt-1"><a href="ticket" class="user_menu">我的票券</a><br /></div>
                            <div class="mb-2 pl-2 pb-1 pt-1"><a href="myArticle" class="user_menu">我的投稿</a><br /></div>
                            <div class="mb-2 pl-2 pb-1 pt-1"><a href="favorite" class="user_menu">收藏&追蹤</a><br /></div>
                            <div class="mb-2 pl-2 pb-1 pt-1"><a href="profile" class="user_menu">編輯資料</a><br />
                            </div>
                            <div class="mb-2 pl-2 pb-1 pt-1"><a href="" class="user_menu">登出</a></div>
                        </div>
                    </div>
                </div>

                <!-- 左側 結束-->

                <!-- 右側 開始 -->
                <div class="col-md-8 emp-profile pl-5">
                    <div class="d-flex pr-3">
                        <h4 class="title">我的活動</h4>
                        <div class="ml-auto">
                            <a href="/activity/create">
                                <input type="button" class="btn btn-outline-primary" name="btnAddArticle"
                                    value="發起活動" />
                            </a>
                        </div>
                    </div>

                    <div class="col-md-12">

                        <% data.forEach((item)=> { %>
                            <div class="d-flex flex-wrap mb-3 p-2 article_card">
                                <div class="article_box col-md-12">
                                    <h5><b>
                                            <%= item.activityTitle %>
                                        </b>
                                        <div class="float-right">
                                                <span>
                                                    <a href="/activity/edit/<%= item.activityId %>">
                                                    <button type="button" class="edit btn-sm btn-secondary"><i
                                                            class="far fa-edit"></i></button>
                                                    </a>
                                                </span>
                                                <span>
                                                    <button type="submit" class="del delete btn-sm btn-secondary"><i
                                                            class="far fa-trash-alt"></i></button>
                                                </span>
                                                <input type="hidden" class="activityId" name="activityId" value=<%=item.activityId %>>
                                                <!-- <input type="submit" class="del"> -->
                                        </div>
                                </div>
                                </h5>
                                <div class=" d-flex col-md-12">
                                    <div class=" col-md-4 ">
                                        <img src="/image/user/op_01.jpg" alt="" class="article_img">
                                    </div>
                                    <div class="col-md-8 ">
                                        <p class="article_content">
                                            <%= item.activityContent %>
                                        </p>
                                        <a href="/activity/single/<%= item.activityId %>" class="float-right">看更多......</a>
                                    </div>
                                </div>


                            </div>
                            <% }) %>
                                <div class="row">

                                </div>
                                <div class="row">

                                </div>


                    </div>
                </div>

            </div>
    </div>
    <!-- 右側 結束 -->



    </form>
    </div>


    <!-- 頁尾  開始-->

    <!-- 頁尾  結束-->

    <script>
        $(function () {
            
            // console.log($('.del').closest('form').find('.activityId')[1].value);
            $('.del').click(function () {
                var data = $(this).closest('.float-right').find('.activityId')[0].value;   
                
                var values = {};
                values["activityId"] = data;
                // alert(values.activityId);
                JSONData = JSON.stringify(values);


                $.ajax({
                    url: "/activity/delete",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    data: JSONData,
                    success: function (res) {
                        var res = JSON.parse(res)
                        if (res.errno === 1) {
                            alert("更新成功!")
                            // 回到會員頁
                            location.href = `/activity/text`
                        } else if (res.errno === 0) {
                            alert("更新失敗!")
                        }
                    },
                    error: function () {
                        alert("系統錯誤!")
                    }
                })
                

            });

           

        })

    </script>


</body>

</html>