<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>我的投稿</title>
    <link rel="stylesheet" href="../../css/company_mainPage.css">
    <link rel="stylesheet" href="../css/mutual.css">
    <link rel="stylesheet" href="../css/Bootstrap/bootstrap.css">
    <script src="../../js/jquery.js"></script>
    <script src="../js/Bootstrap/bootstrap.js"></script>
    <script src="https://kit.fontawesome.com/2b7cfea5bd.js" crossorigin="anonymous"></script>

    
</head>
<style>
    @media (max-width:768px) {
        .cfmBtn {
            display: flex;
            justify-content: center;
        }
    }

    .profile-work div a:nth-of-type(4) {
        color: var(--color4) !important;
    }
    .act_img{
        width: 120px;
        height: 90px;
        object-fit: cover;
    }
    a:hover{
        text-decoration: none;
    }
</style>

<body>
    <!-- 導覽列開始 -->
    <%-include("../nav.ejs")%>
    <!-- 導覽列結束 -->
      <!-- <div class="container "> -->
        <img src="../../public/image/user/member.png" alt="">
        
            <div class="row ">
                <!-- 左側 開始 手機裝置會消失 導覽列上可點選-->
                <div class="d-none d-md-block col-md-3 col-sm-12  emp-profile mr-5 p-1">
                    <div class="profile-img  p-1 mt-5 ml-5">
                        <!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog"
                            alt="" />
                        <br>
                        <br> -->
                        <!-- <div class="file btn btn-sm btn-primary ">
                            更改大頭貼
                            <input type="file" name="file" />
                        </div> -->

                        <form action="upload.php" method="post" enctype="multipart/form-data">
                            <label for="fileToUpload">
                                <div class="profile-pic">
                                    <span class="glyphicon glyphicon-camera"></span>
                                    <span>更換圖片</span>
                                </div>
                            </label>
                            <input type="File" name="fileToUpload" id="fileToUpload">
                        </form>

                       
                    </div>

                    <div class="  p-5 p-md-1 select_left ml-5">
                        <div class="profile-work ">
                            <!-- 前面放icon -->
                            
                            <div class="mb-2 pl-2 pb-1 pt-1"><a href="/" class="user_menu" style="color: var(--color2)">我的活動</a><br /></div>
                           
                            <div class="mb-2 pl-2 pb-1 pt-1"><a href="/company/edit" class="user_menu">編輯資料</a><br />
                            </div>
                            <div class="mb-2 pl-2 pb-1 pt-1"><a href="/user/logout" class="user_menu">登　　出</a></div>
                        </div>
                    </div>
                </div>

                <!-- 左側 結束-->

                <!-- 右側 開始 -->
                <div class="col-md-8  pl-5">
                    <div class="d-flex mb-5" style="justify-content: space-between;">
                        <h4 class="title ml-5">活動列表</h4>
                        <a href="/activity/create"><button type="button" class="btn_tea2">發起活動</button></a>
                    </div>
                   
                    <% var data=JSON.parse(JSON.stringify(data)) %>
                    <% data.forEach((item)=> { %>
                    
                        <div class="campaign_item d-flex" id=<%= item.activityId %>>
                            <div class="campaign_img d-flex">
                               <a href="/activity/<%= item.activityId %>">
                                   <img class="act_img"  src="../image/upload/activity/<%-item.activityFile%>" alt="">
                               </a>
                               <div class="campaign_title ml-3">
                                   <p class="sub_title"><%= item.activityTitle %></p>
                                   <p>售票日期：　<%= item.sellDate.substring(0,4)+'年'+item.sellDate.substring(5,7)+'月'+item.sellDate.substring(8,10)+'日' %></p>
                                </div>
                            </div>
                            <div>
                                <span>
                                    <a href="/activity/edit/<%= item.activityId %>">
                                    <button type="button" class="edit btn_sm_blue2"><i
                                            class="far fa-edit"></i>編輯</button>
                                    </a>
                                </span>
                                <span><!-- 有修改的地方 -->
                                    <form action="" class="deletePost" method="post" style="display: inline-block;">
                                        <button type="submit" class="del delete edit btn_sm_blue2"><i
                                                class="far fa-trash-alt"></i>刪除</button>
                                    </form>
                                </span>
                                <input type="hidden" class="activityId" name="activityId" value=<%=item.activityId %>>
                        </div>
                            
                            <!-- <div class="campaign_btn"><a class="go_activity" href="/activity/single" >〉</a></div> -->
   
                        </div>
                        <% }) %>
                </div>
            </div>

       
    </div>
    </div>
    <!-- 右側 結束 -->



    </form>
    </div>

        
        <script>
            $(function () {
                // ----HTML有兩個form----
                // 指定是哪一個form要被送出
                $( ".deletePost" ).submit(function( event ) {
                    alert( "Handler for delete.submit() called." );
                    event.preventDefault();
                    // 阻止冒泡事件

                    var data = $(this).closest('.d-flex').find('.activityId')[0].value;   
                    // alert(data);

                    var values = {};
                    values["activityId"] = data;
                    // alert(values.activityId);
                    JSONData = JSON.stringify(values);
                    // alert(JSONData);

                    //第一次會跳轉到company POST錯誤的地方 
                    //!!!!!!已解決!!!!!!!
                    $.ajax({
                        url: "/company/delete",
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        data: JSONData,
                        success: function (res) {
                            var res = JSON.parse(res)
                            if (res.errno === 1) {
                                alert("更新成功!")
                                // 回到會員頁
                                location.reload()
                            } else if (res.errno === 0) {
                                alert("更新失敗!")
                            }
                        },
                        error: function () {
                            alert("系統錯誤!")
                        }
                    })
                });                
                

    
               
    
            })
    
        </script>
    
</body>
</html>