<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>樂團介紹</title>
    <link rel="stylesheet" href="">
    <link href="../css/band.css" rel="stylesheet">
    <link href="../css/mutual.css" rel="stylesheet">


</head>

<body>

    <%-include ("../nav.ejs")%>

        <section>
            <!-- <div class=" "> -->

            <div id="cover">
                <img src="/image/band/<%= data.bandFile %>" alt="">

            </div>
            <!-- </div> -->
            <div id="shape">
                <div class="">
                    <p class="title">
                        <%= data.bandName %>

                    </p>
                    <br><br><br>


                    <p class="bandIntro">
                        <%= data.bandContent %>

                    </p>

                </div>
            </div>


        </section>

        <section id="history">
            <h6 class="title bandhead">歷年專輯</h6>
            <div class="alums">
                <% const nameList=data2.map(item => Object.values(item)[2]);  %>
                    <% const dateList=data2.map(item => Object.values(item)[3]);  %>
                        <% const imgList=data2.map(item => Object.values(item)[4]);  %>
                            <% const introList=data2.map(item => Object.values(item)[5]);  %>
                                <% for(item in nameList){%>

                                    <div class="alum">
                                        <img src="/image/band/<%- imgList[item] %>" alt="">
                                        <div class="bandText">
                                            <p>

                                                <%- nameList[item] %>
                                            </p>
                                            <p>



                                                <%var date = dateList[item].toLocaleDateString(); %>
                                                    <% var result = date.replace(new RegExp('/', 'g'), '-');%>
                                                        <%- result%>



                                            </p>
                                            <p>
                                                <%- introList[item] %>

                                            </p>

                                        </div>
                                    </div>
                                    <% } %>






            </div>




        </section>
        <section class="recent">
            <h6 class="sub_title recentact">近期活動</h6>
            <br>
            <hr id="bandhr">
            <% const imageList=data3.map(item => Object.values(item)[5]);  %>


                <% for(item in imageList){%>


                    <div class="bandAct">
                        <img src="/image/upload/activity/<%- imageList[item] %>" alt="">
                    </div>
                    <% } %>





        </section>

        <%-include ("../footer.ejs")%>





</body>

</html>