<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>樂團介紹</title>


    <!-- load CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="../css/band.css" rel="stylesheet">
    <link href="../css/mutual.css" rel="stylesheet">


    <script src="https://use.fontawesome.com/b4547aa58e.js"></script>
    <script src="../js/jquery.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


</head>

<body>
        <%-include ("../nav.ejs")%>
        <input type="hidden" name="favorates" value=<% favorates.forEach((fav,idx)=>{%>
        <%=(fav.bandId==bandId)? bandId :"" %>
            <% }) %>>
                <input type="hidden" name="bandId" value=<%=bandId %>>
                <section class="Banner">
                    <div id="cover">
                        <img src="/image/band/<%= data.bandFile %>" alt="">
                    </div>
                    <div id="shape">
                        <div class="">
                            <h2 class="title">
                                <!-- 樂團名稱 -->
                                <%= data.bandName %>
                                    <!-- 追蹤 -->
                                    <button name="unlove" class="btn_tea1" style="padding: 5px 10px; margin-left: 10px;">
                                        追蹤
                                    </button>
                            </h2>
                            <br>
                            <!-- 介紹 -->
                            <p class="bandContent"><%= data.bandContent %></p>
                        </div>
                    </div>
                </section>



                <!-- 歷年專輯 -->
                <div class="Album">
                    <p class="title bandheading">歷年專輯</p>
                    <% const nameList=data2.map(item => Object.values(item)[2]);  %>
                        <% const dateList=data2.map(item => Object.values(item)[3]);  %>
                            <% const imgList=data2.map(item => Object.values(item)[4]);  %>
                                <% const introList=data2.map(item => Object.values(item)[5]);  %>
                                    <% for(item in nameList){%>

                                        <div class="albums">

                                            <img class="album_img" src="/image/band/<%- imgList[item] %>" alt="">

                                            <div class="alumbText ">
                                                <b class="nameList sub_title">
                                        <%- nameList[item] %>
                                    </b>
                                                <br><br>
                                                <p style="font-size: 18px;">

                                                    <% var yyyy = dateList[item].toLocaleDateString().slice(0,4);%>
                                                        <% var mm =('0'+ (dateList[item].getMonth()+1)).substr(-2) ; %>
                                                            <!-- ('0'+ dateList[item].getMonth()).substr(-2) -->
                                                            <% var dd = ('0'+ dateList[item].getDate()).substr(-2); %>

                                                                <%- yyyy+'/'+ mm+'/'+dd %>


                                                </p>
                                                <br>
                                                <p style="font-size: 18px;line-height: 30px;">
                                                    <%- introList[item] %>
                                                </p>
                                            </div>
                                        </div>
                                        <% } %>


                </div>

                <br>
                <br>

                <!-- 近期活動 -->
                
                    <div class="activity">
                        <p class="actTitle title">近期活動</p>
                        <div class="actbox">
                            <% const imageList=data3.map(item => Object.values(item)[5]);  %>
                                <% const actList=data3.map(item => Object.values(item)[4]);  %>
                                    <% const actLinkList=data3.map(item => Object.values(item)[1]);  %>
                                        <% const pDateLinkList=data3.map(item => Object.values(item)[11]);  %>


                                            <div class="bandAct">
                                                <div class="grid">
                                                    <% for(item in imageList){%>
                                                        <div class="act_sec">
                                                            <a href="../activity/single/<%- actLinkList[item] %>">
    
                                                                <figure class="effect-lexi ">
    
                                                                    <img src="/image/upload/activity/<%- imageList[item] %>" alt="">
    
                                                                    <figcaption>
                                                                        <p>
                                                                            <% var y = pDateLinkList[item].toLocaleDateString().slice(0,4);%>
                                                                                <% var m = ('0'+ pDateLinkList[item].getMonth()).substr(-2); %>
                                                                                    <% var d = ('0'+ pDateLinkList[item].getDate()).substr(-2); %>
    
    
                                                                                        <%- y+'/'+m+'/'+d %> <br>
                                                                                            <%- actList[item] %>
                                                                        </p>
                                                                    </figcaption>
    
                                                                </figure>
                                                            </a>
                                                        </div>
                                                        <% } %>


                                                </div>
                                            </div>


                        </div>
                    </div>

                
                <!-- 相關心得 -->
                
                    <div class="activity">
                        <p class="actTitle title">相關心得</p>
                        <div class="actbox">
                            <% const articleList=data4.map(item => Object.values(item)[2]);  %>
                                <% const articleImgList=data4.map(item => Object.values(item)[5]);  %>
                                    <% const articleLinkList=data4.map(item => Object.values(item)[0]);  %>



                                        <div class="bandAct">
                                            <div class="grid">
                                                <% for(item in articleList){%>
                                                    <a href="../article/item/<%- articleLinkList[item] %>">

                                                        <figure class="effect-lexi ">

                                                            <img src="/image/upload/article/<%- articleImgList[item] %>" alt="">

                                                            <figcaption>
                                                                <p>

                                                                    <%- articleList[item] %>
                                                                </p>
                                                            </figcaption>

                                                        </figure>
                                                    </a>
                                                    <% } %>


                                            </div>
                                        </div>


                        </div>
                    </div>

                


                <%-include ("../footer.ejs")%>
                    <script>
                        $(function() {
                            // 設置追蹤按鈕的html樣式
                            var favorates = $('input[name="favorates"]').val();
                            var bandId = $('input[name="bandId"]').val();

                            if (favorates !== '') {
                                $('button[name="unlove"]').text('已追蹤');
                                $('button[name="unlove"]').addClass('btn_tea2').removeClass('btn_tea1');
                                $('button[name="unlove"]').attr('name', 'love');
                            } else {
                                $('button[name="love"]').text('追蹤');
                                $('button[name="love"]').addClass('btn_tea1').removeClass('btn_tea2');
                                $('button[name="love"]').attr('name', 'unlove');
                            }
                            $('button[name="love"]').on('click', () => {
                                var movelove = {};
                                movelove["bandId"] = favorates;
                                movelove = JSON.stringify(movelove);


                                $.ajax({
                                    url: "/band/movelove",
                                    type: "POST",
                                    contentType: "application/json; charset=utf-8",
                                    data: movelove,
                                    success: function(res) {
                                        var res = JSON.parse(res)
                                        if (res.errno === 1) {
                                            swal("已取消追蹤","", "success")
                                            .then((value)=>{
                                                location.reload()
                                            });
                                        } else if (res.errno === 0) {
                                            swal("更新失敗","", "error");
                                        }
                                    },
                                    error: function() {
                                        swal("請登入使用樂團追蹤功能","", "info");
                                    }
                                })
                            })
                            $('button[name="unlove"]').on('click', () => {
                                var addlove = {};
                                addlove["bandId"] = bandId;
                                addlove = JSON.stringify(addlove);

                                $.ajax({
                                    url: "/band/addlove",
                                    type: "POST",
                                    contentType: "application/json; charset=utf-8",
                                    data: addlove,
                                    success: function(res) {
                                        var res = JSON.parse(res)
                                        if (res.errno === 1) {
                                            swal("已加入追蹤","", "success")
                                            .then((value)=>{
                                                location.reload()
                                            });
                                         
                                        } else if (res.errno === 0) {
                                            swal("更新失敗","", "error");
                                        }
                                    },
                                    error: function() {
                                        swal("請登入使用樂團追蹤功能","", "info");
                                    }
                                })
                            })

                        });
                    </script>









                    <!-- </div>  -->
                    <!-- container -->

                    <!-- <script src="js/jquery-3.2.1.slim.min.js">
                        </script>
                        <script src="slick/slick.min.js">
                            </script>
                            <script>
                                $(function() { $('.tm-gallery').slick({ dots: true, infinite: true, slidesToShow: 4, slidesToScroll: 2, responsive: [{ breakpoint: 991, settings: { slidesToShow: 3, slidesToScroll: 2 } }, { breakpoint: 767, settings: { slidesToShow: 2, slidesToScroll:
                                1 } }, { breakpoint: 480, settings: { slidesToShow: 1, slidesToScroll: 1 } } // You can unslick at a given breakpoint now by adding: // settings: "unslick" // instead of a settings object ] }); });
                                </script> -->
    </body>

</html>