<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <meta charset="utf-8">

    <meta name="description" content="">
    <link rel="icon" type="image/png" href="images/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <!-- <link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet"> -->
    <link href="../css/bandall.css" rel="stylesheet">
    <link href="../css/mutual.css" rel="stylesheet">
    <style>
        .banner{
            background-image: url(../../image/banner/band1.jpg);
        }
    </style>
</head>

<body>
    <%-include ("../nav.ejs")%>
    <div class="banner">
        <p class="banner_title">樂團介紹</p>
    </div>
        <% const idList=data.map(item => Object.values(item)[0]);  %>
            <% const nameList=data.map(item => Object.values(item)[1]);  %>
                <% const introList=data.map(item => Object.values(item)[2]);  %>
                    <% const imgList=data.map(item => Object.values(item)[3]);  %>


                        <div class="wrapper grid">
                            <% for(item in nameList){%>
                                <a href="../band/ <%- idList[item] %>">
                                    <div class="banditem">
                                        <img class="bandPhoto" src="/image/band/<%- imgList[item] %>" alt="">
                                        <p class="bandName">
                                            <%- nameList[item] %>
                                        </p>
                                        <p class="bandContent">
                                            <%- introList[item] %>

                                        </p>
                                    </div>
                                    <% } %>
                                </a>
                        </div>







                        <%-include ("../footer.ejs")%>

</body>














</html>