<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="">
    <link href="../css/band.css" rel="stylesheet">


</head>

<body>

    <%-include ("../nav.ejs")%>

        <section class="Banner">
            <!-- <div class=" "> -->

            <div id="cover">
                <img src="/image/band/<%= data.bandFile %>" alt="">

            </div>
            <!-- </div> -->
            <div id="shape">
                <div class="">
                    <p class="heading">
                        <%= data.bandName %>

                    </p>


                    <p class="bandIntro">
                        <%= data.bandContent %>
                            <input type="button" value="收藏">
                    </p>

                </div>
            </div>


        </section>

        <section class="history">
            <h6>歷年專輯</h6>
            <div class="alums">
                <% const nameList=data2.map(item => Object.values(item)[2]);  %>
                    <% const dateList=data2.map(item => Object.values(item)[3]);  %>
                        <% const imgList=data2.map(item => Object.values(item)[4]);  %>
                            <% for(item in nameList){%>

                                <div class="alum">
                                    <img src="/image/band/<%- imgList[item] %>" alt="">
                                    <div class="text">
                                        <p>專輯名稱:

                                            <!-- 出來是一個陣列 -->
                                            <%- nameList[item] %>
                                        </p>
                                        <p class="date">專輯日期:
                                            <%- dateList[item] %>

                                        </p>
                                    </div>
                                </div>

                                <% } %>




            </div>




        </section>
        <section class="recent">
            <h6 class="heading">近期活動</h6>
            <hr>
            <% const imageList=data3.map(item => Object.values(item)[6]);  %>
                <% for(item in nameList){%>


                    <div>
                        <img src="/image/band/<%- imageList[item] %>" alt="">
                    </div>
                    <% } %>




        </section>

        <%-include ("../footer.ejs")%>





</body>

</html>